*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header{
    height: 100vh;
    width: 100%;
    background-color: rgb(43, 21, 51);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 10%;
    height: 10%;
}

.cards{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 50px;
    margin-top: 5%;
    text-align: center;
    margin-left: 2.5%;
}
.card{
    height: 50vh;
    width: 40vh;
    margin-left: 10%;
    margin-right: 10%;
    border: solid beige 1px;
    background-size: cover;
}

.hide{
    display: none;
    background-color: aqua;
}
.category_name{
    position: relative;
    top: 40%;
    font-size: 32px;
    color: antiquewhite;
}

